.chat-bubble-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    border: 0.5px solid #dedede;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .chat-bubble-container::after {
    content: "";
    clear: both;
    display: table;
  }

  .text-right {
    align-items: flex-end;
    color: #aaa;
  }
  
  .text-left {
    align-items: flex-start;
    color: #999;
  }

.child {  
  padding: 5px;
  border: 1px solid rgb(206, 206, 206);
  margin: 5px;
}